<div class="content">
	<h4>About The Keynote Store</h4>
	<p>At The Keynote Store we produce creative themes for Apple's Keynote presentation software. Our themes are elegant and understated, simple but not simplistic. All of our themes feature at least thirty photo slides providing the user with multiple layouts through which he can effectively compliment his presentation. Media placeholders, charts, tables and shape styles are custom designed with the look and feel of each theme in mind.</p>
	
	<p>Additional versatility is provided through slides of unique extras which anyone can download for free. The freebies include all the necessary media placeholders and design elements so users can use our themes to layout their own master slides in Keynote.</p>
</div>