<%= erb :'banner_standard', :layout => false %>

<div class="content">
	<div><%= flash[:notice] %></div>
	<form action="/admin/update/password/<%= @user.id %>" method="post" id="user" enctype="multipart/form-data">

		<label>Password</label>
		<input type="password" autocomplete='off' name="password" id="password" autocorrect="off" autocapitalize="off"/><br>
		&nbsp;<br>
		
		<label>New Password</label>
		<input type="password" autocomplete='off' name="new_password" id="new_password" autocorrect="off" autocapitalize="off"/>
		<label>Retype</label>
		<input type="password" autocomplete='off' name="retype_password" id="retype_password" autocorrect="off" autocapitalize="off"/>

		<div id="buttons">		
			<button type="submit">Update Password</button>
		</div>
	</form>
</div>