<span class="float_left">
	<a href="/logout">logout</a> | 
	<a href="/admin/users">users</a> |
	<a href="/admin/orders">orders</a> | 
	<a href="/admin/edit">edit</a> | 
	<a href="/admin/add">add</a>
</span>

<a href="/">home</a> | 
<a href="/checkout">cart</a> | 
<a href="/free">free</a> |  
<a href="/support">support</a>