<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/normalize.css" type='text/css'>
	<link rel="stylesheet" href="/css/main.css" type='text/css'>
	<link rel="stylesheet" href="/css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	<title>The Keynote Store</title>
</head>
<body id="admin">
	<div class="outer_wrapper">
		<%= erb :'admin_nav', :layout => false %>
		<%= yield %>
		<footer><%= erb :'admin_nav', :layout => false %></footer>
	</div>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/jquery/scripts.js" charset="utf-8"></script>
</body>
</html>