<!DOCTYPE HTML>
<html lang='en'>
<head></head>
<body>

<table width='600' align='center' style='font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #666; line-height: 26px; text-align: justify;'>  
	<tr style='font-family: Garamond, Georgia, Times, serif; color: black; font-size: 24px'>  
		<td>#{@order.order_first_name},</td>  
	</tr>
	<tr>
		<td><img src='http://www.keynotestore.heroku.com/public/images/spacer.png'></td>
	</tr>
	<tr>  
		<td>You can view your receipt and download your order through the button below. You will only be able to download your order for 24 hours from the time of purchase.</td>  
	</tr>
	<tr>
		<td><img src='http://www.keynotestore.heroku.com/public/images/spacer.png'></td>
	</tr>  
	<tr>  
		<td><a href='http://www.keynotestore.heroku.com/order/#{@order.order_number}/#{@order.id}'><img src='http://www.keynotestore.heroku.com/public/images/button-email-order.png' alt='Your Order.'></a></td>  
	</tr>
	<tr>
		<td><img src='http://www.keynotestore.heroku.com/public/images/spacer.png'></td>
	</tr>
	<tr>
		<td>We truly appreciate your business. If you need any assistance now or in the future please contact us at support@keynotestore.com.</td>
	</tr>
	<tr>
		<td><img src='http://www.keynotestore.heroku.com/public/images/spacer.png'></td>
	</tr>
	<tr>  
		<td style='font-family: Garamond, Georgia, Times, serif; color: black; font-size: 24px'>Thank You!</td>
	</tr>
	<tr>
		<td>The Keynote Store</td>
	</tr>
	<tr>
		<td><img src='http://www.keynotestore.heroku.com/public/images/spacer.png'></td>
	</tr>
	<tr>
		<td><img src='http://www.keynotestore.heroku.com/public/images/spacer.png'></td>
	</tr> 
</table>

</body>
</html>