<%= erb :'banner_standard', :layout => false %>

<div class="content" id="this_now_that">
	<div id="front_page">
		<h3>That is now this.</h3>
		<h5>New name. New site. New prices.</h5>
	</div>
</div>

<%= erb :'products', :layout => false %>

<%= erb :'about', :layout => false %>

