<div class="ios hide">
	<div class="ios_message">
		<h1>iPad, iPhone and iOS</h1>
		<p>Keynote for iOS does not easily support custom themes. You can put our themes on an iOS device by creating a presentation and saving it to iCloud. Then open the presentation on your iOS device (iPad or iPhone). However, the iOS version of Keynote is limited compared to it's Macintosh counterpart. Our themes were designed for the Mac.</p>
	</div>
</div>