<div class="ios hide">
	<div class="ios_message">
		<h4>iPad, iPhone and iOS</h4>
		<p>You must have a Mac to use these themes. You can put them on an iOS device by creating a presentation and saving it to iCloud. Then open the presentation on your iOS device. However, the iOS version of Keynote is limited compared to it's Macintosh counterpart. Our themes were designed for the Mac.</p>
	</div>
</div>