<%= erb :'banner_standard', :layout => false %>

<div class="content">
	<div class="flash">Hmm. We must have done something wrong. Sorry.<br>All the links on this page should work and get you back on track.</div>
</div>

<%= erb :'products', :layout => false %>