<div class="product_container">
	<% @theme.each do |theme| %>
		<a id="<%= theme.name.downcase.gsub(" ", "_") %>" class="product<% if theme.id === 49 %> hide<% end %>" href="/theme/<%= theme.id %>"><div class="product_name"><%= theme.name %></div></a>
	<% end %>
</div>