<%= erb :'banner_standard', :layout => false %>

<div class="content" id="complete">
	<div class="support">
		<h4>Secure Checkout</h4>
		<p>Our entire site is secured using encryption with a digital certificate to keep your information private as it's sent to or from keynotestore.com including every step of the payment process.</p>
		
		<h4>Theme Downloads</h4>
		<p>Once you make payment you will be directed to a page where you can download your purchase and print a receipt. You will also be sent an email with a link to the download page. You have 24 hours from the point of payment in which to download your purchase.</p>
		
		<h4>Sample Presentations</h4>
		<p>The presentations shown on the individual theme pages are only samples of what can be achieved using Keynote and our custom themes. They are not included with any purchase. We are unable to provide them to any customers because many of the images are not licensed for resale.</p>
		
		<h4>iPad - iPhone - iOS</h4>
		<p>You must have a Mac to use these themes. You can put them on an iOS device by creating a presentation and saving it to iCloud. Then open the presentation on your iOS device. However,the iOS version of Keynote is limited compared to it's Macintosh counterpart. Our themes were designed for the Mac.</p>
		
		<h4>Keynote Support</h4>
		<p>We only support our themes. We do not support Keynote itself or provide any training for Keynote. Apple's website is full of great video tutorials and resources for learning how to use Keynote in both the Keynote section and the Support section of the site.</p>
	</div>
</div>

<div class="product_container">
	<a id="help" class="product" href="mailto:sales@keynotestore.com?subject=Keynote Store Help"><div class="product_name">Help Email</div></a>
	<a id="feedback" class="product" href="mailto:sales@keynotestore.com?subject=Keynote Store Feedback"><div class="product_name">Feedback Email</div></a>
	<a id="complete_set" class="product" href="/theme/49"><div class="product_name"><%= @complete_set.name %></div></a>
</div>

<%= erb :'about', :layout => false %>