/* @group Base */

html, body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[class^="col_"] {
	width: 100%;
}

nav {
	text-align: center;
	padding-top: 9px;
}

.mini_cart {
	padding-top: 9px;
}

nav a, .mini_cart a {
	color: #42230A;
	text-decoration: none;
	font: 1.25em 'Annie Use Your Telescope', sans-serif;
}

nav a:hover, .mini_cart:hover a {
	text-decoration: underline;
}

footer nav {
	text-align: center;
	padding-top: 0;
	padding-bottom: 9px;
}

header {
	background: #fff;
	border-radius: 0.3em;
	box-shadow: 0 0 0.1875em #222;
	text-align: center;
	padding-top: 0.375em;
	padding-bottom: 0.875em;
	position: relative;
	overflow: hidden;
}

h1 {
	font: normal normal 3.375em Garamond, 'EB Garamond', serif;
	padding: 0;
	margin: 0;
}

h2 {
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	color: #888;
	margin: 0;
	padding: 0;
}

h3 {
	font: normal normal 1.375em Garamond, 'EB Garamond', serif;
	margin: 0;
	padding: 0;
}

.support h3 {
	margin-top: 36px;
}

h4 {
	font-weight: normal;
	font-style: normal;
	font-size: 0.75em;
	color: #888;
	margin: 0;
	padding: 0;
}

h5 {
	font: normal normal 1.875em Garamond, 'EB Garamond', serif;
	margin: 0;
	padding: 0;
}

h6 {
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: #666;
	margin: 6px 0 0;
	padding: 0;
}

img, video {
	width: 100%;
}

a {
	text-decoration: none;
	color: #000;
}

p {
	font-size: 0.75em;
	color: #666;
	line-height: 2.2em;
	margin-bottom: 0.75em;
	text-align: justify;
}

p:last-of-type {
	margin-bottom: 0;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #666;
	line-height: 20px;
}

ul li {
	background-image: url('../images/bullet-check.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-size: 18px 18px;
	padding-top: 6px; 
	padding-left: 24px;
}

.mobile_cart_item form {
	display: inline-block;
}

input {
	margin: 0;
	padding: 4px;
	border: 1px solid #999;
	font-size: 1em;
	position: relative;
	right: 0;
	left: 0;
}

input.quantity {
	width: 20px;
	text-align: center;
	position: relative;
	margin-right: 9px;
	margin-left: 6px;
}

.mobile_cart_item {
	padding-top: 27px;
	padding-bottom: 27px;
	border-bottom: 1px solid #999;
	font-size: 0.75em;
}

.mobile_cart_item:first-of-type {
	margin-top: 27px;
	border-top: 1px solid #999;
}

.mobile_cart_item div {
	padding-bottom: 6px;
}

.mobile_cart_item div:last-child {
	padding-bottom: 0;
}

.mobile_cart_totals {
	padding-top: 27px;
	font-size: 0.75em;
}

.mobile_cart_payment {
	font-size: 0.75em;
}

.mobile_card_input {
	padding-top: 6px;
	padding-bottom: 6px;
	width: 266px;
}

.mobile_cart_img {
	display: block;
}

.mobile_cart_img img {
	width: auto;
	height: 66px;
	margin-bottom: 9px;
}

.mobile_card_input input:not([type=checkbox]) {
	width: 256px;
}

.btn_blue, .btn_grey, .btn_red {
	color: white;
	border-radius: 0.25em;
	padding: .25em 1.5625em;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	line-height: 1.4em;
}

.btn_blue {
	background: url('../images/button-gradiant.png') repeat-x 0 center;
	border: 1px solid #0003ab;
	text-shadow: 0 0 0.25em #0003ab;
}

.btn_grey {
	background: url('../images/button-gray-gradiant.png') repeat-x;
	border: 1px solid #565756;
	text-shadow: 0 0 4px #565756;
}

.btn_red {
	background: url('../images/button-red-gradiant.png') repeat-x;
	border: 1px solid #aa0000;
	text-shadow: 0 0 4px #aa0000;
}

.cart_remove {
	width: 32px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}

.cart_update {
	margin-right: 6px;
}

.btn_before {
	margin-bottom: 1.25em;
}

.btn_after {
	margin-top: 1.25em;
}

.float_right {
	float: right;
	display: inline-block;	
}

.float_left {
	float: left;
	display: inline-block;
}

.inner_wrapper {
	background: #999 url(../images/background-wood.png);
	background-size: 400px 200px;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.content {
	background: #fff;
	border-radius: 0.3em;
	box-shadow: 0 0 0.1875em #222;
	padding: 1.125em;
	display: block;
}

.product_title {
	text-align: right;
	padding-top: 4em;
}

.product_title h4 {
	padding-top: .3em;
}

.complete {
	text-align: center;
}

.theme_center, .buy_center {
	text-align: center;
}

.theme_center h5, .buy_center a {
	margin-bottom: 9px;
}

.txt_center {
	text-align: center;
}

.txt_right {
	text-align: right;
}

.txt_left {
	text-align: left;
}

.module {
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 9px;
}

.module:after, .clear:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.module_left {
	padding: 9px 0;
}

.module_right {
	padding: 9px 0;
}

.slides {
	padding-bottom: 9px;
}

.hide, .mobile_hide {
	display: none;
}

.shadow {
	box-shadow: 0 0 0.375em #000;
}

.video_container {
	position: relative;
}

.video_poster {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}

.video_controls {
	height: 13px;
	margin-top: 9px;
	margin-right: 18px;
	margin-left: 36px;
	position: relative;
}

.video_controls a {
	width: 15px;
	height: 13px;
	margin-right: 4px;
	background: url(../images/button-pause-play.png) no-repeat center top;
	background-size: 15px;
	position: absolute;
	left: -18px;
}

.video_controls .active_link {
	background-position: center bottom;
}

.video_controls .video_track {
	height: 9px;
	width: 100%;
	margin-top: 2px;
	border-radius: 6px;
	background-color: #C5C5C5;
	display: inline-block;
	float: left;
}

.video_controls .video_scrubber {
	width: 13px;
	height: 13px;
	margin-top: -2px;
	border-radius: 7px;
	background-color: #797979;
}

.row {
	margin-bottom: 18px;
}

.freebie_list p {
	height: 99px;
}

.flash {
	color: #ec1d1d;
	font-size: 20px;
	text-align: center;
	margin-top: 36px;
	margin-bottom: 36px;
}

#old_school img {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* @end */

/* @group Backgorund Placement */

#complete {
	background: url('../images/tcs-image-mobile.png') no-repeat center -110px white;
	background-size: 1000px;
	padding-top: 132px;
}

#contemporary {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -79px white;
	background-size: 325px;
}

#classic {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -362px white;
	background-size: 325px;
}

#take_two {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -645px white;
	background-size: 325px;
}

#photogenic {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -928px white;
	background-size: 325px;
}

#concrete {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -1211px white;
	background-size: 325px;
}

#cardboard {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -1494px white;
	background-size: 325px;
}

#lightly_serious {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -1777px white;
	background-size: 325px;
}

#seriously_light {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -2060px white;
	background-size: 325px;
}

#keynote_tv {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -2343px white;
	background-size: 325px;
}

#keynote_x {
	background: url('../images/theme-rotate-sprite.png') no-repeat -135px -2626px white;
	background-size: 325px;
}

#freebies {
	background: url('../images/theme-rotate-sprite.png') no-repeat -120px -2939px white;
	background-size: 325px;
}

#complete_5 {
	background: url('../images/keynote-five.png') no-repeat 12px 12px white;
	background-size: 142px 142px;
}

/* @end */

/* @group Media 480 */

@media only screen and (min-width:480px) {	
	.freebie_list p {
		height: 50px;
	}
	
	.mobile_cart_img {
		display: inline-block;
		float: left;
		margin-right: 18px;
		margin-bottom: 0;
	}
	
	.mobile_cart_info {
		display: inline-block;
	}
	
	#old_school img {
		width: 30%;
	}
	
}

/* @end */

/* @group Media 480 - 623 */

@media only screen and (min-width:480px) and (max-width: 623px) {
	#contemporary {
		background-position: 9px -79px;
	}
	
	#classic {
		background-position: 9px -362px;
	}
	
	#take_two {
		background-position: 9px -645px;
	}
	
	#photogenic {
		background-position: 9px -928px;
	}
	
	#concrete {
		background-position: 9px -1211px;
	}
	
	#cardboard {
		background-position: 9px -1494px;
	}
	
	#lightly_serious {
		background-position: 9px -1777px;
	}
	
	#seriously_light {
		background-position: 9px -2060px;
	}
	
	#keynote_tv {
		background-position: 9px -2343px;
	}
	
	#keynote_x {
		background-position: 9px -2626px;
	}
	
	#freebies {
		background-position: 9px -2939px;
	}
	
	#complete_5 {
		background-position: 94px 12px;
	}
}

/* @end */

/* @group Media 624 */

@media only screen and (min-width: 624px) {	
	.row {
		margin-bottom: 36px;
	}
	
	.col_1of2, .col_1of3, .col_2of3, .col_2of5, .col_3of5 {
		width: 50%;
		float: left;
	}
	
	#complete .col_1of2, .freebie_list .col_1of2 {
		width: 100%;
	}
	
	.product_list .col_1of3:nth-child(2n) {
		float: right;
	}
	
	.mobile_hide {
		display: inline-block;
	}
	
	.inner_wrapper {
		padding-left: 9px;
		padding-right: 9px;
	}
	
	.module {
		padding-left: 9px;
		padding-right: 9px;
		padding-bottom: 18px;
	}
	
	.module_left {
		padding-right: 9px;
	}
	
	.module_right {
		padding-left: 9px;
	}
	
	nav {
		text-align: right;
	}
	
	footer nav {
		margin-top: -9px;
	}
	
	#keynote {
		background: url('../images/icon.png') no-repeat -40px -14px white;
		background-size: 184px 184px;
	}
	
	.badge {
		background: url('../images/badge.png') right top / 104px 104px no-repeat;
		width: 300px;
		height: 300px;
		color: #ffffff;
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.content {
		padding: 2.25em;
	}
	
	.col_1of3 .content {
		padding: 1.125em;
	}
	
	.product_title {
		padding-top: 5.375em;
	}
	
	.complete_txt {
		display: inline-block;
		float: right;
		text-align: right;
		padding-top: 0.375em;
		padding-bottom: 0.375em;
	}
		
	.theme_center {
		text-align: left;
	}
	
	.buy_center {
		text-align: right;
	}
	
	.theme_center h5, .buy_center a {
		margin-bottom: 0;
	}
	
	.buy_center a {
		float: left;
	}
	
	.theme_center a {
		float: right;
	}
	
	.btn_complete {
		float: left;
		margin: 0;
	}
	
	.video_controls {
		height: 13px;
		margin-top: 18px;
		margin-right: 60px;
		margin-left: 78px;
		position: relative;
	}
	
	.freebie_list p {
		height: 99px;
	}
	
	#old_school img {
		width: 75%;
	}
	
	#take_two_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -44px -49px white;
		background-size: 325px;
	}
	
	#photogenic_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -44px -673px white;
		background-size: 325px;
	}
	
	#concrete_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -44px -1297px white;
		background-size: 325px;
	}
	
	#cardboard_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -44px -1921px white;
		background-size: 325px;
	}
	
	#keynote_tv_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -44px -2545px white;
		background-size: 325px;
	}
	
	#keynote_x_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -44px -3169px white;
		background-size: 325px;
	}
		
}

/* @end */

/* @group Media 700 */

@media only screen and (min-width: 700px) {
	#complete {
		padding-top: 2.25em;
		background: url('../images/tcs-image.png') no-repeat -154px -95px white;
		background-size: 460px;
	}
	
	#complete .col_1of2 {
		width: 50%;
	}
	
	.freebie_list p {
		height: 76px;
	}
}

/* @end */

/* @group Media 768 */

@media only screen and (min-width: 768px) {
	.col_1of3 {
		width: 33.33333%;
		float: left;
	}
	
	.col_2of3 {
		width: 66.66666%;
		float: left;
	}
	
	.col_2of5 {
		width: 40%;
	}
	
	.col_3of5 {
		width: 60%;
	}
	
	.freebie_list .col_1of2 {
		width: 50%;
	}
	
	.product_list .col_1of3:nth-child(2n) {
		float: left;
	}
	
	.product_list .col_1of3:nth-child(3n) {
		float: right;
	}
	
	.col_1of3 .content {
		padding: 0.5625em;
	}
	
	.product_title {
		padding-top: 104px;
	}
	
	.discount {
		background: url('../images/discount-rotate.png') no-repeat 36px -68px white;
		background-size: 281px 251px;
	}
	
	.discount_txt {
		text-align: right;
	}
	
	.freebie_list p {
		height: 154px;
	}
	
	#contemporary {
		background-position: -170px -79px;
	}
	
	#classic {
		background-position: -170px -362px;
	}
	
	#take_two {
		background-position: -170px -645px;
	}
	
	#photogenic {
		background-position: -170px -928px;
	}
	
	#concrete {
		background-position: -170px -1211px;
	}
	
	#cardboard {
		background-position: -170px -1494px;
	}
	
	#lightly_serious {
		background-position: -170px -1777px;
	}
	
	#seriously_light {
		background-position: -170px -2060px;
	}
	
	#keynote_tv {
		background-position: -170px -2343px;
	}
	
	#keynote_x {
		background-position: -170px -2626px;
	}
	
	#freebies {
		background-position: -140px -2939px;
	}
	
	#take_two_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -180px -49px white;
		background-size: 325px;
	}
	
	#photogenic_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -180px -673px white;
		background-size: 325px;
	}
	
	#concrete_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -180px -1297px white;
		background-size: 325px;
	}
	
	#cardboard_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -180px -1921px white;
		background-size: 325px;
	}
	
	#keynote_tv_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -180px -2545px white;
		background-size: 325px;
	}
	
	#keynote_x_extras {
		background: url('../images/extras-rotate-sprite.png') no-repeat -180px -3169px white;
		background-size: 325px;
	}
}

/* @end */

/* @group Media 850 */

@media only screen and (min-width: 850px) {
	#complete {
		background-size: 520px;
		background-position: -124px -95px;
	}
	
	#contemporary {
		background-position: -125px -79px;
	}
	
	#classic {
		background-position: -125px -362px;
	}
	
	#take_two {
		background-position: -125px -645px;
	}
	
	#photogenic {
		background-position: -125px -928px;
	}
	
	#concrete {
		background-position: -125px -1211px;
	}
	
	#cardboard {
		background-position: -125px -1494px;
	}
	
	#freebies {
		background-position: -120px -2939px;
	}
	
	#lightly_serious {
		background-position: -125px -1777px;
	}
	
	#seriously_light {
		background-position: -125px -2061px;
	}
	
	#keynote_tv {
		background-position: -125px -2345px;
	}
	
	#keynote_x {
		background-position: -125px -2628px;
	}
	
	.border_top {
		border-top: 1px solid #333;
	}
	
	.border_bottom {
		border-bottom: 1px solid #333;
	}
	
	.border_right {
		border-right: 1px solid #333;
	}
	
	.border_left {
		border-left: 1px solid #333;
	}
	
	.grey_metal{
		display: none;
	}
	
	.module {
		padding-left: 18px;
		padding-right: 18px;
		padding-bottom: 36px;
	}
	
	.module_left {
		padding: 36px 36px 36px 0;
		border-right: 1px solid #999;
	}
	
	.module_right {
		padding: 36px 0 36px 36px;
	}
	
	.slides {
		padding-bottom: 36px;
	}
	
	.mini_cart, .mini_nav {
		padding-bottom: 18px;
	}
}


/* @end */

/* @group Media 960 */

@media only screen and (min-width: 960px) {
	body {
		background: #333 url('../images/dark-wall.png');
		background-size: 150px 150px;
	}
	
	footer nav {
		margin-top: -18px;
	}
	
	.outer_wrapper {
		width: 940px;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		box-shadow: 0 0 18px #000;
	}
	
	.grey_metal {
		background: #999;
		background-image: -ms-linear-gradient(top right, #969696 0%, #C5C5C5 100%);
		background-image: -moz-linear-gradient(top right, #969696 0%, #C5C5C5 100%);
		background-image: -o-linear-gradient(top right, #969696 0%, #C5C5C5 100%);
		background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #969696), color-stop(1, #C5C5C5));
		background-image: -webkit-linear-gradient(top right, #969696 0%, #C5C5C5 100%);
		background-image: linear-gradient(to bottom left, #969696 0%, #C5C5C5 100%);
		display: block;
	}
	
	.head_box {
		height: 55px;
		width: 312px;
		float: left;
	}
	
	.foot_box {
		height: 27px;
		width: 312px;
		float: left;
		
	}
	
	.left_box {
		width: 18px;
		position: absolute;
		top: 56px;
		bottom: 28px;
		left:  0px;
	}
	
	.right_box {
		width: 18px;
		position: absolute;
		top: 56px;
		bottom: 28px;
		right:  0px;
	}
	
	.inner_wrapper {
		width: 864px;
		box-shadow: inset 0 0 8px #222;
		margin-left: 20px;
		padding-left: 18px;
		padding-right: 18px;
	}
	
	.freebie_list p {
		height: 127px;
	}
	
}

/* @end */

/* @group Admin */

#admin {
	background: #333 url('../images/dark-wall.png');
	background-size: 150px 150px;
	margin: 0;
}

#admin .badge {
	display: none;
}

#admin nav, #admin nav a, #admin .mini_cart a {
	color: #fff;
}

#admin .outer_wrapper {
	box-shadow: none;
}

#admin form {
	width: 540px;
	margin-right: auto;
	margin-left: auto;
}

#admin label {
	width: 118px;
	padding-right: 6px;
	text-align: right;
	display: inline-block;
	margin-bottom: 12px;
	font-size: 12px;
	color: #666;
}

#admin input, #admin textarea {
	font-size: 12px;
	margin: 0;
	margin-top: 3px;
	border: 1px solid #999;
	color: #000;
	margin-bottom: 12px;
	width: 282px;
	padding: 4px;
}

#admin textarea {
	margin-left: 4px;
}

#admin [class^="btn_"] {
	font-size: 12px;
}

#admin form [class^="btn_"] {
	margin-right: 120px;
}

#admin .edit, #admin .delete, #admin .password {
	text-align: right;
	color: #888;
	margin-top: 6px;
}

#admin .delete, #admin .password  {
	margin-right: 9px;
}

#admin .edit:hover, #admin .password:hover {
	color: #0fbf17;
	text-decoration: none;
}

#admin .delete:hover {
	color: #ec1d1d;
	text-decoration: none;
}

#admin #flash {
	color: #ec1d1d;
	font-size: 20px;
	text-align: center;
	margin-bottom: 36px;
}

.user_name {
	text-align: right;
	padding-bottom: 18px;
}

table {
	font-size: 12px;
	color: #666;
	width: 100%;
	border-collapse: collapse;
}

th {
	border: 1px solid #999;
	padding: 5px;
	background-color: #f0f0f0;
}

td {
	border: 1px solid #999;
	padding: 5px;
}

tr:hover {
	background-color: #f0f0f0;
}

.no_border {
	border-style: none;
}

.no_hover:hover {
	background-color: white;
}

.fixed_column {
	width: 124px;
}

.update, .remove {
	font-size: 12px;
	color: #666;
	text-decoration: none;
	padding: 0px;
	background: none;
	border: none;
	font-weight: normal;
	font-style: normal;
}

.update:hover {
	color: #0fbf17;
}

.download {
	color: white;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	margin-top: 0;
	background: url('../images/button-gradiant-small.png') repeat-x 0 center;
	border: 1px solid #0003ab;
	text-shadow: 0 0 1px #0003ab;
	font-size: 1em;
	width: 216px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: inline-block;
}

.remove:hover {
	color: #ec1d1d;
}

#printable_reciept {
	background-image: none;
	background: #fff;
}

#invoice {
	margin-top: 36px;
	margin-bottom: 36px;
}

/* @end */








