<a href="/">home</a> | 
<a href="/free">freebies</a> | 
<!--<a href="/tutorials">tutorials</a> |--> 
<a href="/catalogue">catalogue</a> | 
<a href="/checkout">cart</a> | 
<a href="/support">support</a>